* {
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/banner.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
img {
    border-radius: 50%;
  }
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 1.3vw;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d7bc83;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 5vw;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 3vw;
    color: white;
}
.recipe-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 1.3vw;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.recipe-btn:hover{
    border: 1px solid wheat;
    background: wheat;
    transition: 1s;
}
.mheader{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.32),rgba(4, 9, 30, 0.318)),url(../images/meals.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.mtext-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mrecipe-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 2vw;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.mrecipe-btn:hover{
    border: 1px solid wheat;
    background: wheat;
    transition: 1s;
}
.atext-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2vw;
}
html {
    box-sizing: border-box;
    background-color: wheat;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
.card {
    box-shadow: 0 4px 8px 0 wheat;
    margin: 8px;
  }
.container {
    text-align: center;
    padding: 0 30px;
  }
.containerr{
    text-align: left;
    padding: 0 30px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
} 
.about-section {
    padding: 50px;
    text-align: center;
    color: black;
}
.recheader{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px;
    font-size: 2vw;
}
.picheader{
    width: 90%;
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 30px;
}
.square{
    border-radius: 0;
}
.ing ul{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.columnr {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
