<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www/w3/org/TR/xhtml/11/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <title> The College Cookbook </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <section class = "mheader">
        <nav>
            <a href="index.html"> <img src="images/logo.png" ></a>
            <div class="nav-links">
                <ul>
                    <li><a href = "index.html">HOME</a> </li>
                    <li><a href = "meals.html">MEALS</a> </li>
                    <li><a href = "ab.html">ABOUT US</a> </li>
                </ul>
            </div>
        </nav>
    </section>
    
    <div class = "atext-box">
        <h1>Meet the Team!</h1>
    </br>
        <a href="#AU" class="recipe-btn">Click Here!</a>
    </div>

    <div class="about-section">
        <h1><a name="AU">About Us</a></h1>
      </div>

    <div class="row">
    <div class="column">
        <div class="card">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/lbp2020/"> <img src="images/Leela.jpg" alt="Leela" style="width:78%"></a>
        <div class="container">
            <h2>Leela Pinnamaraju</h2>
            <p>Favorite Meal: Mutton Curry</p>
            <p>Favorite Restaurant: Chipotle</p>
        </br>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/grace-sweeney-997abb264/"><img src="images/Grace.jpg" alt="Grace" style="width:65%"></a>
        <div class="container">
            <h2>Grace Sweeney</h2>
            <p>Favorite Meal: Eggplant Parmesan</p>
            <p>Favorite Restaurant: Bao</p>
        </br>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/gabrielle-leah-fernandes/"><img src="images/Gabi.jpg" alt="Gabi" style="width:54%"></a>
            <div class="container">
                <h2>Gabi Fernandes</h2>
                <p>Favorite Meal: Taco Bell Chalupa</p>
                <p>Favorite Restaurant: Piada</p>
            </br>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/laiba-awan-5932a7250/"><img src="images/Laiba.jpg" alt="Laiba" style="width:60%"></a>
        <div class="container">
            <h2>Laiba Awan</h2>
            <p>Favorite Meal: Pasta</p>
            <p>Favorite Restaurant: Cheesecake Factory</p>
        </br>
        </div>
        </div>
    </div>
    </div>
</br>
</br>
</br>
</br>
</body>

</html>