<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www/w3/org/TR/xhtml/11/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <title> The College Cookbook </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class = "mheader">
        <nav>
            <a href="index.html"> <img src="images/logo.png" ></a>
            <div class="nav-links">
                <ul>
                    <li><a href = "index.html">HOME</a> </li>
                    <li><a href = "meals.html">MEALS</a> </li>
                    <li><a href = "ab.html">ABOUT US</a> </li>
                </ul>
            </div>
        </nav>

        <div class = "text-box">
            <head>
                <title>HTML Forms</title>
             </head>
             <p>Enter an Ingredient:</p>
             <form>
                <style>
                    input[type="text"]{
                        height: 50px;
                        font-size: 30px;
                        color: rgb(111, 83, 47);
                    }
                </style>
                <input type="text" name="name" size="40" >
                <br>
                <br>
                <a href="#RL" class="mrecipe-btn" onkeypress="if (event.keyCode ==13){event.preventDefault(); this.click();}">
                    Search
                </a>
                <br>
             </form>
        </div>
    
        
    </section>

    <section>

        <div class="about-section">
            <h1><a name="RL">Recipes List</a></h1>
          </div>
    
        <div class="row">
        <div class="columnr">
            <div class="card">
            <div class="containerr">
                <div class=" ing ul">
                <br>
                <ul>
                    <li> ingredient 1 </li>
                    <br>
                    <li> ingredient 2 </li>
                    <br>
                    <li> ingredient 3 </li>
                </ul>
                </div>
            </br>
            </div>
            </div>
        </div>

    </section>

</body>
</html>