<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www/w3/org/TR/xhtml/11/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <title> The College Cookbook </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <section class = "mheader">
        <nav>
            <a href="index.html"> <img src="../static/images/logo.png" ></a>
            <div class="nav-links">
                <ul>
                    <li><a href = "index.html">HOME</a> </li>
                    <li><a href = "meals.html">MEALS</a> </li>
                    <li><a href = "ab.html">ABOUT US</a> </li>
                </ul>
            </div>
        </nav>
    </section>
    
    <section class="recheader">
        <h2>Recipe Name</h2>
        <div class="picheader">
            <br>
            <img src="../static/images/Gabi.jpg" alt="Food" style="width:20%" class="square"> 
            <br>
            <br>
            <a href="#R" class="recipe-btn">Click Here for Recipe!</a>
        </div>
    </section>

    <div class="about-section">
        <h1><a name="R">Recipe</a></h1>
      </div>

    <div class="row">
    <div class="columnr">
        <div class="card">
            <div class = container>
                <h2> Ingredients: </h2>
            </div>
        <div class="containerr">
            <div class=" ing ul">
            <br>
            <ul>
                <li> ingredient 1 </li>
                <br>
                <li> ingredient 2 </li>
                <br>
                <li> ingredient 3 </li>
            </ul>
            </div>
        </br>
        </div>
        </div>
    </div>

    <div class="columnr">
        <div class="card">
        <div class = container>
            <h2> Instructions: </h2>
            </div>
        <div class="containerr">
            <br>
            <ol>
                <li> step 1 </li>
                <br>
                <li> step 2 </li>
                <br>
                <li> step 3 </li>
            </ol>
        </br>
        </div>
        </div>
    </div>
</br>
</br>
</br>
</br>

</body>

</html>