<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

    <title>Document</title>
</head>

<body>
    <h1>AJAX Meals API</h1>
    <div id="main-container">
        <div id="info-container">
            <input type="submit" value="New Random Meal" id="meal">
            <p>Meal Name: <span id="meal-name"></span></p>

            <input type="text" placeholder="" id="usermealinput" name="mealinput">
            <input type="submit" value="search" id="ingmeal">            

            <table id="meals" class="display" width="100%"></table>        
    </div>
</body>

<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

</html>