<?xml version="1.0"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www/w3/org/TR/xhtml/11/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name=”viewport” content="width=device-width" , initial-scale=1.0>
    <title> The College Cookbook </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

</head>

<body>
    <section class="mheader">
        <nav>
            <a href="index.html"> <img src="../static/images/logo.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="index.html">HOME</a> </li>
                    <li><a href="meals.html">MEALS</a> </li>
                    <li><a href="ab.html">ABOUT US</a> </li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="recheader">
        <h2 id="meal-name">Recipe Name</h2>
        <div class="picheader">
            <br>
            <img id="foodpic" src="../static/images/filler.jpg" alt="Food" style="width:20%" class="recipeimg2">
            <br>
            <br>
            <a href="#R" class="recipe-btn" id="randomMeal">Click Here for Recipe!</a>
        </div>
    </section>

    <div class="about-section">
    </div>

    <div class="row">
        <div class="columnr">
            <div class="card">
                <div class=container>
                    <h2> Ingredients: </h2>
                </div>
                <div class="containerr">
                    <div class=" ing ul">
                        <br>
                        <p><span id="ingredients"></span></p>
                    </div>
                    </br>
                </div>
            </div>
        </div>

        <div class="columnr">
            <div class="card">
                <div class=container>
                    <h2> Instructions: </h2>
                </div>
                <div class="containerr">
                    <br>
                    <p id="instructions"></p>
                    </br>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>

</body>

<script src="/static/js/random.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

</html>